@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,500;0,700;1,400;1,500&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  outline: none;
  text-decoration: none;
  list-style: none;
}

#search .content_search .bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body {
  background-color: #f9f4ce98;
}

header {
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header div {
  width: 5%;
}

header div img {
  width: 100%;
  padding: 20px;
}

header ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header li {
  padding: 10px;
}

#search .content_search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin-top: 50px;
}

#search .content_search .title h1 {
  font-size: 3.7vw;
  margin-bottom: 50px;
  color: #9fc184be;
}

#search .content_search .title h1 span {
  font-style: italic;
  font-weight: 400;
}

#search .content_search .bar {
  width: 30%;
  margin: auto;
  background-color: white;
  border-bottom: #6c60328e 10px solid;
}

#search .content_search .bar input {
  padding: 10px;
  margin: 10px 20px;
  width: 100%;
  font-size: 1vw;
  border: none;
}

#search .content_search .bar input::-webkit-input-placeholder {
  font-size: 0.8vw;
}

#search .content_search .bar input:-ms-input-placeholder {
  font-size: 0.8vw;
}

#search .content_search .bar input::-ms-input-placeholder {
  font-size: 0.8vw;
}

#search .content_search .bar input::placeholder {
  font-size: 0.8vw;
}

#search .content_search .bar button {
  padding: 15px;
  margin: 10px 20px;
  font-size: 1vw;
  background-color: #6c60328e;
  border: none;
  color: white;
  font-weight: 400;
  cursor: pointer;
  -webkit-transition: .2s;
  transition: .2s;
}

#search .content_search .bar button:hover {
  background-color: #9fc184be;
}

#search .content_search .bar i {
  padding: 20px;
  color: #6c60328e;
  cursor: pointer;
}

#search .content_search #result {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#search .content_search #result #list_result {
  width: 30%;
  margin: auto;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

#search .content_search #result #list_result li {
  text-align: center;
  background-color: #6c60328e;
  width: 100%;
  padding: 10px;
  text-transform: capitalize;
  padding: 20px;
}

#search .content_search #result #list_result li a {
  color: white;
}

#search_result div {
  padding: 20px 50px;
}

#search_result div h3 {
  font-style: italic;
  text-transform: capitalize;
}

#search_result div h3 a {
  color: #96C8D9;
}

#search_result h1 {
  padding: 20px 50px;
  text-decoration: underline;
}

#search_result .error {
  padding: 20px 50px;
}

#monster {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 30px;
}

#monster #picture_monster {
  width: 20%;
}

#monster #picture_monster img {
  width: 100%;
  -webkit-box-shadow: -30px 29px 0px -5px #9fc184be;
  box-shadow: -30px 29px 0px -5px #9fc184be;
}

#monster #text_monster {
  width: 60%;
  padding: 20px;
}

#monster #text_monster h1 {
  text-transform: uppercase;
  padding: 10px;
  color: #9fc184be;
}

#monster #text_monster p {
  padding: 10px;
}
/*# sourceMappingURL=style.css.map */